.recent-questions-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recent-questions {
  margin: 0 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.recent-questions h2 {
  text-align: center;
  color: #800000;
}

.question {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 2.5s;
  width: 100%;
}

.question.expanded {
  max-height: 1000px;
  overflow-y: auto;
}

.question-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.question-info {
  flex: 1;
}

.question-info h3 {
  font-size: 1.2rem;
  color: #800000;
  margin-bottom: 3px;
}

.timestamp {
  font-size: 0.8rem;
  color: #777;
  display: flex;
  align-items: center;
  gap: 5px;
}

.timestamp .username {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.timestamp .time-ago {
  font-size: 12px;
  color: #666;
}

.answer-preview {
  font-size: 1rem;
  color: #444;
  line-height: 1.4;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px 12px 6px 12px;
}

.answer-full {
  display: none;
  font-size: 1rem;
  color: #444;
  margin-bottom: 10px;
  line-height: 1.4;
  word-wrap: break-word;
}

.question-photo-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.answer-button {
  padding: 8px 15px;
  background-color: #800000;
  color: #fdd835;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.answer-button:hover {
  background-color: #5a0000;
}