.search-bar {
  flex: 2;
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 800px;
  height: 40px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 8px 35px 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 25px;
  height: 36px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.search-bar input[type="text"]::placeholder {
  color: #999;
}

.search-bar input[type="text"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.search-icon {
  position: absolute;
  right: 12px;
  color: #999;
  cursor: pointer;
  font-size: 1rem;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.search-bar input:focus ~ .search-icon,
.search-bar input:not(:placeholder-shown) ~ .search-icon {
  opacity: 0;
}